extends layout

block content
	h1= title
	p Please login:
	form(method='POST',action='/login')
		table
			tr
				td Username:
				td
					input(type='text', name='username')
			tr
				td Password:
				td
					input(type='password', name='password')
		button(type='submit') Submit
	p Thank you.