extends layout

block content
	h1 Sign up!
	div 
		for service in services
			p
				h3= service.date
				p
					span <i>#{service.title}</i>
					table
						for responsibility in service.responsibilities
							tr
								td= responsibility.type
								td= responsibility.detail
		else
			p No services listed