extends layout

block content
	h1 Sign up!
	.signup-calendar
		for service in services
			.service-listing
				h3 #{service.date} &nbsp; 
					span.service-title #{service.title}
				table.service-entry
					for responsibility in service.responsibilities
						tr
							td.responsibility-description= responsibility.description
							td.responsibility-detail= responsibility.detail
		else
			p No services listed